div{
    max-width: 100%;
}

h1{
    text-align: center;
}

mat-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 20%;
    margin:auto;
}