<div style="text-align:center">
  <h1>Welcome to the Ford Weather Application!</h1>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ten Day Forecast</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<div class="container">
  <div class="row mt-5" style="margin:auto;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ detWeather?.name }}</mat-card-title>
        <mat-card-subtitle>Michigan</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Currently {{ detWeather?.main.temp }} Celsius</strong>
        </p>
        <p>Low: {{ detWeather?.main.temp_min }} C</p>
        <p>High: {{ detWeather?.main.temp_max }} C</p>
      </mat-card-content>
      <div style="text-align:center">
        <button class="btn btn-sm btn-outline-primary" (click)="open(content)">
          Launch Ten Day Forecast
        </button>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ chiWeather?.name }}</mat-card-title>
        <mat-card-subtitle>Illinois</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Currently {{ chiWeather?.main.temp }} Celsius</strong>
        </p>
        <p>Low: {{ chiWeather?.main.temp_min }} C</p>
        <p>High: {{ chiWeather?.main.temp_max }} C</p>
      </mat-card-content>
      <div style="text-align:center">
        <button class="btn btn-sm btn-outline-primary" (click)="open(content)">
          Launch Ten Day Forecast
        </button>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ seatWeather?.name }}</mat-card-title>
        <mat-card-subtitle>Washington</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Currently {{ seatWeather?.main.temp }} Celsius</strong>
        </p>
        <p>Low: {{ seatWeather?.main.temp_min }} C</p>
        <p>High: {{ seatWeather?.main.temp_max }} C</p>
      </mat-card-content>
      <div style="text-align:center">
        <button class="btn btn-sm btn-outline-primary" (click)="open(content)">
          Launch Ten Day Forecast
        </button>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ nyWeather?.name }}</mat-card-title>
        <mat-card-subtitle>New York</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Currently {{ nyWeather?.main.temp }} Celsius</strong>
        </p>
        <p>Low: {{ nyWeather?.main.temp_min }} C</p>
        <p>High: {{ nyWeather?.main.temp_max }} C</p>
      </mat-card-content>
      <div style="text-align:center">
        <button class="btn btn-sm btn-outline-primary" (click)="open(content)">
          Launch Ten Day Forecast
        </button>
      </div>
    </mat-card>
  </div>
</div>
